<!DOCTYPE html>
<html>
    <body>
        {% extends "navigation.html" %}
        {% block content %}
        <div class="index">
            <div class="about" style="margin: 5px;">
                <h1>About The Interrogator</h1>
                <br>
                <br>
                <p>We are a collaborate team, who collaborates with lots of exclusive brands to give you and them a chance to communicate in a whole new way.</p>
                <br>
                <p>currently we collaborate with the team at OlleStudio</p>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
