<!DOCTYPE html>
<html>
    <body>
        {% extends "navigation.html" %}
        {% block content %}
        <div class="index">
            <div class="text">
                <h1>Welcome back MASTER</h1>
                <p>The Interrogator Status: ACTIVE</p>
            </div>

            <div class="QuesteningBox">

                <br>
                <br>
                <br>
                <br>
                <h2> ANSWER DATA </h2>
                <br>
                <br>
                <br>
                <br>
                <div class="DataBox">
                    <p>Question 1:</p>
                    <p>What is your favorite cookie?</p>
                    <br>
                    <p>Chocolate: 1</p>

                    <p>Vanille: 4</p>

                    <p>Cookiedough: 1</p>


                    <br>
                    <br>
                    <br>
                    <p>Question 2:</p>
                    <p>Which type of milk do you drink?</p>
                    <br>
                    <p>Letmilk: 1</p>

                    <p>Sødmilk: 2</p>

                    <p>Minimilk: 0</p>

                    <p>Skummilk: 3</p>


                    <br>
                    <br>
                    <br>
                    <p>Question 3:</p>
                    <p>What is your favorite food?</p>
                    <br>
                    <p>Pizza: 1</p>

                    <p>Burger: 1</p>

                    <p>Cookiedough: 3</p>

                    <p>Other: 1</p>
                    


                    <br>
                    <br>
                    <br>
                    <p>Question 4:</p>
                    <p>How do you pay for stuff?</p>
                    <br>
                    <p>Cash: 1</p>

                    <p>Card: 1</p>

                    <p>ApplePay: 2</p>

                    <p>GooglePay: 1</p>

                    <p>Mobile Pay: 1</p>




                    <br>
                    <br>
                    <br>
                    <p>Question 5:</p>
                    <p>How are you today?</p>
                    <br>
                    <p>Moody: 1</p>

                    <p>Happy: 1</p>

                    <p>Sad: 1</p>

                    <p>I DONT KNOW: 2</p>

                    <p>im not quite sure: 1</p>
                </div>
            </div>
        </div>
        
        {% endblock %}
    </body>
</html>